body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.nav_menu li:hover{
  background-color: #d49466;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;

}

.navbar_logo{
  font-size: 24px;
  color: white;
}

.navbar_logo i {
  color:#d49466 ;
}

.nav_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_menu li {
  padding: 8px 12px;
}

.navbar_icons{
  list-style: none;
  color: white;
  display: flex;
}

.navbar_icons li{
  padding: 8px 12px;

}

.navbar_toggleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .nav_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_menu li{
    width: 100%;
    text-align: center;
  }

  .navbar_icons{
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  
  .navbar_toggleBtn{
    display: block;
  }

  .nav_menu.active,
  .navbar_icons.active{
    display: flex;
  }

}